numpy
pandas<1.5
cython
scipy
scikit-learn
matplotlib
seaborn
xgboost
lightgbm
catboost
tensorflow
pyarrow
dask
ray[default]<1.13.0
modin
yellowbrick
hyperopt
wandb
featuretools
pillow
pandas-profiling
tqdm
missingno
mlxtend
requests
lxml
html5lib
beautifulsoup4
redis
feature-engine
optuna
requests
tabulate
future
opencv-python
kaggle
h2o==3.38.0.2